* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}
.navbar{
    width: 100%;
    display: flex;
    padding: 10px;
    background-color: pink;
    
}

.logonav h1{
    font-size: 32px;
    color: purple;
    width: 10%;
    margin-left: 20px;
}
.nav-ul{
    display: flex;
   list-style-type: none;
   gap: 30px;

}
.nav-ul a{
    text-decoration: none;
    color: black;
    font-size: 23px;

}
.nav-ul a:hover{
    color: blue;
}

.nav-list{
    /* margin-top: 10px; */
    width: 80%;
    display: flex;
    justify-content: flex-end;
}
.nav-icon{
    width: 20%;
    text-align: center;
    font-size: 23px;
    display: flex;
    /* margin-left: 100px; */
    justify-content: center;
    /* margin-top: 10px; */
    gap: 50px;
    cursor: pointer;
}
.nav-icon p{
    color: red;
} 

    /* banner */
    /* .makeup-banner{
        background-image: url(/css/makeupimg.jpg);
        background-size: cover;
        height: 500px;
        background-position: center;
        background-repeat: no-repeat;
    } */

     /* makeup */
.offers-containner{
    width: 90%;
    margin: auto;
} 
.offers-heading{
    font-size: 28px;
    text-align: center;
    margin-top: 50px;
}
.offers-row{
    display: flex;
    margin-top: 80px;
}
.offers-col{
    width: 25%;
    text-align: center;
}
.offers-col img{
    border-radius: 20px;
    box-shadow: 0 0 10px;
    /* border: 3px solid black; */
}
.offers-col img:hover{
    transform: scale(1.02);
}
.offers-name p{
   font-size: 20px;
   margin-top: 10px;
}

.offers-rate p{
    font-size: 23px;
    margin-top: 3px;
    /* margin-left: 30px; */
}

.offers-rate{
    display: flex;
    font-size: 20px;
    margin-top: 15px;
    margin-left: 80px;
    gap: 5px;
} 
.Card{
    margin-top: 10px;
}
.Card button{
    padding: 10px;
    color: purple;
    font-size: 17px;
    border-radius: 10px;
    border: 1px solid purple;
    /* background-color: pink; */
}
.Card button:hover{
    transform: scale(1.03);
}
.Card button i{
    color: purple;
    margin-right: 5px;
    font-size: 18px;
}
 
     /* footer */
     .footer {
    
        padding-top: 50px;
    } 
    
    .footer-container {
        width: 100%;
        display: flex;
        justify-content: space-around;
        background-color: pink;
        padding: 20px;
        /* gap: 200px; */
          
    }
    .footer-content{
        margin-left: 40px;
    } 
    .footer-content h3{
        margin-bottom: 20px;
        text-align: center;
        color: purple;
        text-decoration-line: underline;
    }
    
    .footer-logo h1{
        font-size: 32px;
        color: purple;
        margin-left: 35px;
    }
    #follow-us a{
        list-style-type: none;
        }
    #follow-us li{
        display: inline-block;
        padding: 3px;
        margin:50px 10px 0;
    }
    #follow-us i{
        color: black;
        font-size: 25px;
        
    }
    #follow-us i:hover{
        color: purple;
    }
    #link ul{
        text-align: center;
    }
    .list li{
        list-style-type: none;
        padding: 5px;
        
    }
    #link h3{
        font-size: 28px;
    }
    .list a{
        text-decoration: none;
        color: black;
        font-size: 23px;
    }
    .list a:hover{
        color: purple;
    }
    #contact-us h3{
        font-size: 28px;
    }
    #contact-us p{
        padding: 5px;
        color: black;
        font-size: 23px;
        line-height: 35px;
    }
    #contact-us p:hover{
        color: purple;
    }
    #contact-us i{
        font-size: 25px;
        color: black;
    }
    .bottom{
        background-color: pink;
        
        text-align: center;
        /* padding: 10px; */
        
        font-size: 23px;
        color: black;
    }
   
